.justify{
    justify-content: space-between;
}
.display{
    display: inherit;
}
.wd400{
    width: 400px;

}
.mr10{
    margin-top:19px;
}
.bgcolor{
    background-color: #bbff99;
    background-image: linear-gradient(319deg, #bbff99 0%, #ffec99 37%, #ff9999 100%);
     
}
.list{
    margin: 18px;
    background-color: #002b42;
    color: white;
}
.filter{
    margin: 18px;
   
    color: black;
}