

 
  
  
  <table class="table">
    <thead>
    <tr class="header">
      <th scope="col">Label</th>
      <th scope="col">List Name</th>
      <th scope="col">No of Entities</th>
      <th scope="col">Actions</th>
     
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let country of data | search:changedval ; index as i"  (click)="setClickedRow(i)" [class.active]="i == selectedRow">
     
      <!-- <td>
        <ngb-highlight class="date" [result]="country.date" [term]="filter.value"></ngb-highlight>
      </td>
      <td [class.highlight]="i==0 || i==1 || i==2"><b><ngb-highlight [result]="country.listName" [term]="filter.value"></ngb-highlight></b></td>
       -->
      <td><ngb-highlight [result]="country.label" [term]="filter.value"></ngb-highlight></td>
     <td><button  [class.button2]="i == selectedRow" class= "button" (click)="details(i)">Details</button></td>
   
    </tr>
    </tbody>
  </table>